/* styles/home.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

h2 {
  color: #3498db;
}

p {
  font-size: 16px;
}

.footer {
  background-color: #3c3c3c;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

.color-block {
  height: 5px;
  background-color: #4caf50;
}

.blue-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.blue-button:hover {
  background-color: #2980b9;
}

.red-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.red-button:hover {
  background-color: #c0392b;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.photo-container img {
  width: 600px;
  height: auto;
  margin-right: 10px;
  object-fit: contain;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 25px;
}

p1 {
  font-size: 16px;
}
